.vs/
*.user
*.suo
TestResults/

bin/
obj/

.dotnet/
.nuget/
.localappdata/
.appdata/
.tmp/

artifacts/
TrackerApp/artifacts/
TrackerQt/artifacts/
TrackerQt/

**/AppData/
**/backups/
**/logs/

*.log
*.db-shm
*.db-wal
*.tmp
